.hero {
  color: white;
  height: 100vh;
  background: url(../assets/bg.svg) fixed center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  .hero__main {
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.128);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    nav {
      color: white;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      span {
        color: #ecb365;
      }
      ul {
        gap: 0.2rem;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
        li {
          transition: color 250ms;
          :hover {
            color: #ecb365;
          }
        }
        svg {
          color: white;
        }
      }
    }
    .hero__tasklist {
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      h2 {
        color: #ecb365;
      }
      .task__card {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
          max-width: 80%;
        }
      }
      .tasks__actives {
        form {
          input {
            padding: 0.8rem;
            margin: 0.5rem 0;
            border-radius: 0.2rem;
            border: none;
            background-color: #04293abe;
            color: white;
            &::placeholder {
              color: white;
            }
          }
        }
        p {
          color: black;
        }
      }
      .tasks__completed {
        .completed__task {
          padding: 1rem 0;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
